body {
    background-color: white;
}

.KeepLeft{
	text-align: left;
}
.KeepRight{
	text-align: right;
}
.MainHeading, .MainHeadingContent, .SubHeading{
	color: black;
	font-family: Calibri, Arial;
	width: 25em;
	padding: 10px;
	line-height: 50%;
}
.MainHeading{
	margin: 10px;
	font-size: 50px;
	font-weight: bold;
	/*background-color: #b5d1ff;*/
}
.MainHeadingContent{
	padding-top: 12px;
	margin: 0px;
	font-size: 20px;
	line-height: 35px;
	font-weight: normal;
	width: 20em;
	/*background-color: #dbf46b;*/
}
.SubHeading{
	margin: 0px;
	font-size: 28px;
	/*line-height: 35%;*/
	font-weight: bold;
	/*background-color: #c59bef;*/
}
.container-fluid{
	padding-top: 1em;
	/*background-color: #bebfbb;*/
}
.Content{
	/*align-self: center;*/
	margin: 0px;
	font-size: 20px;
	line-height: 120%;
	font-weight: normal;
	padding-top: 0.3em;
	padding-left: 1em;
	width: 28em;
	text-align: left;
	overflow-wrap: break-word;
	/*background-color: #42c5f4;*/
}

ul li:before {
	content: "-";
	position: absolute;
	left: 30px;
	/*background-color: #ef56d1;*/
}
.ListStyle{
	list-style: none;
}


#top{
	font-size: 36px;
}
#bottom{
	font-size: 20px;
}
#center{
	font-size: 10;
}
.name{
	font-weight: bold;
	color: blue;
}
table{
	border:2px solid black;
	width:50%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	/*border-collapse: collapse;*/
}
th, td{
	border:1px solid black;	
	padding: 5px;
}

th{
	color: blue;
	font-size: 20px;
}